<div id="loginbutton">
    <a href="#/login" class="smoothScroll btn btn-default">Login</a>
</div>

<div class="wrapper">
    <form class="register">
        <p class="title">Register</p>
        <input type="text" placeholder="First Name" autofocus ng-model="registration.FirstName" />
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Last Name" ng-model="registration.LastName" />
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Address1" ng-model="registration.Address1" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="Address2" ng-model="registration.Address2" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="City" ng-model="registration.City" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="State" ng-model="registration.State" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="ZIP Code" ng-model="registration.PostCode" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="Email Address" ng-model="registration.EmailAddress" />
        <i class="fa fa-envelope-o"></i>
        <input type="password" placeholder="Password" ng-model="registration.Password" />
        <i class="fa fa-key"></i>
        <input type="password" placeholder="Confirm Password" ng-model="registration.ConfirmPassword" />
        <i class="fa fa-key"></i>

        <button ng-click="register()">
            
            <span class="state">Register</span>
        </button>

    </form>
    
</div>


    


